@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

=======
>>>>>>> 63a9535 (initial)
html,
body {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  font-family: Gowun Dodum, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
=======
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
>>>>>>> 63a9535 (initial)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
